@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

.container {
  margin: 0 auto;
  min-width: 100%;
  text-align: center;
}

.title {
  margin: 0;
  font-size: 3rem;
  font-family: Agbalumo;
  color: #584a55
}

.description {
  margin: 1rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}



.inputheader {
  background-color: rgb(0, 0, 0);
  padding: 10px;
  margin-top: 0;
  max-width: 500px;
  width: 90%;
  
}

.form {

  [type="file"] {
    font-size: 1em;
    column-gap: 25px;
    padding: 1em;
    border: solid 1px gray;
    border-radius: .5em;
  }


  button {
    color: white;
    font-size: 1em;
    background-color: blueviolet;
    padding: .5em .8em;
    border: none;
    border-radius: .2em;
  }

  code {
    text-align: left;
  }

}

.containerCard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 100%;
  margin: 0 auto;
  background-color: #181818;
  height: auto;
  min-height: 90vh;
  padding-bottom: 50px;
}

.img-card {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: #262626;
  max-width: 1400px;
  margin: 0 auto;
  user-select: none;
  border-radius: 25px;
  padding: 0 15px;
}

.img-card img {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 20px;
  height: 500px;
  width: auto;
  margin: 25px 0;
}

.containerCard h1 {
  font-size: 40px;
  padding: 30px 0;
  font-family: 'Agbalumo';
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 700px;
  max-height: 90%;
  margin: 0 auto;
  gap: 40px;
  background-color: #000000;
  margin-top: 25px;
}

.code {
  overflow: hidden;
  overflow-x: scroll;
  width: 100%;
  background-color: #584a55;
}

.info-card-short {
  display: flex;
  width: 100%;
  justify-content: space-around;
  gap: 15px;

}

@media (max-width: 650px) {
  .containerCard {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 0;
  }


  .inputheader {
    width: 90%;
  }
  .info-card {
    width: 100%;
    border-radius: 0;
  }

  .img-card img {
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    height: auto;
    margin-right: 0;
    max-height: none;
    min-height: none;
  }

  .btn-header {
    padding: 10px;
    margin-top: 0;
    width: 90%;
    margin-top: 50px;

  }
  .img-card {
    display: flex;
    flex-direction: column;
    background-color: #000000;
  }

  .upi-container {
    width: 100%;

  }

}



.footerA {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  color: rgb(255, 255, 255) ;
  background-color: #252225;
  padding: 30px;
}

.footerA ol li a {
  color: rgb(223, 223, 223);
  font-size: small;
}



@media (max-width: 500px) {
  .footerA {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .formmedia {
      width: 100%;
      border-radius: 0;
  }
  
}